@import url(http://fonts.googleapis.com/css?family=Varela+Round);
* {
  box-sizing: border-box; }

html {
  position: relative;
  min-height: 100%;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff; }

body {
  margin: 0 0 100px;
  background-image: url("../img/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background--webkit-size: cover;
  background--moz-size: cover;
  background--o-size: cover;
  background-size: cover; }

a {
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  a:hover {
    color: rgba(255, 164, 160, 0.85); }

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 40px;
  padding-bottom: 40px; }

footer {
  height: 100px;
  z-index: 5;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }
  footer p {
    font-size: 0.75em; }
  footer i {
    color: rgba(255, 164, 160, 0.85);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    footer i:hover {
      text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5); }

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1200px;
  margin: 0 auto; }

.container:after {
  content: " ";
  display: block;
  clear: both; }

ul {
  float: right; }
  ul.index {
    float: left; }
    ul.index a {
      color: rgba(255, 164, 160, 0.85); }

ul li {
  display: inline-block; }

.content-area {
  margin-top: 8%;
  max-width: 55%; }
  .content-area p {
    line-height: 2.2em;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1em; }
  .content-area a {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.75);
    text-transform: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75); }
    .content-area a:hover {
      color: rgba(255, 164, 160, 0.85); }

.content-area-two p {
  line-height: 3em; }
.content-area-two a {
  border-bottom: 0;
  margin-right: 25px; }
  .content-area-two a:last-child {
    margin-right: 0; }

.fa {
  font-size: 1.25em; }

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none; }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  100% {
    -webkit-transform: none;
    transform: none; } }
@keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none; }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  100% {
    -webkit-transform: none;
    transform: none; } }
.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble; }

@media screen and (max-width: 1200px) {
  .content-area {
    max-width: 75%; } }
@media screen and (max-width: 600px) {
  header {
    padding-top: 20px;
    padding-bottom: 30px; }

  .container {
    text-align: center; }

  ul {
    float: none; }
    ul.index {
      float: none; }

  ul li {
    display: block;
    margin-right: 0;
    padding-top: 15px; }

  .content-area {
    max-width: 90%; }
    .content-area p {
      font-size: 0.9em;
      line-height: 2.2em; } }

/*# sourceMappingURL=main.css.map */
