//TYPE
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

//MODULES
$varela: 'Varela Round', sans-serif;
$pink: #ffcdd2;
$yellow: #ffcc80;
$gray: rgba(255,255,255,0.75); 

//DOM ELEMENTS
* {
	box-sizing: border-box;
}

html {
	position: relative;
	min-height: 100%;
	font: {
		family: $varela;
		size: 16px;
	}
	letter-spacing: 1px;
	color: #fff;
}

body {
	margin: 0 0 100px;
	background-color: #00acc1;
}

a {
	color: #fff;
	font-size: 0.9em;
	text: {
		decoration: none;
	}
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

header {
	border-bottom: 1px solid rgba(255,255,255,0.25); 
	padding-top: 40px;
	padding-bottom: 40px;
}

footer {
	height: 100px;
	z-index: 5;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	p {
		font-size: 0.75em;
	}
	i {
		color: $yellow;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.2s ease-in-out;
		&:hover {
			text-shadow: 0px 5px 3px rgba(0,0,0,0.5);
			transform: translateY(-5px);
		}
	}
}

//STYLESHEET

.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

ul {
	float: right;
	a {
		color: $gray;
	}
	&.index {
		float: left;
		a {
			font-size: 1.15em;
		}
	}
}

ul li {
	display: inline-block;
}

.content-area {
	margin-top: 8%;
	max-width: 48%;
	p {
		line-height: 2.2em;
		text-align: center;
		letter-spacing: 1px;
		font-size: 1em;
	}
	a {
		font-size: 1em;
		color: $gray;
		text-transform: none;
		border-bottom: 1px solid $gray;
		&:hover {
			color: $yellow;
		}
	}
}

.content-area-two {
	p {
		line-height: 3em;
	}
	a {
		border-bottom: 0;
		margin-right: 25px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.fa {
	font-size: 1.25em;
}

//MEDIA
@media screen and (max-width: 1200px){
	.content-area {
		max-width: 75%;
	}
}

@media screen and (max-width: 600px) {
	header {
		padding-top: 20px;
		padding-bottom: 30px;
	}

	.container {
		text-align: center;
	}

	ul {
		float: none;
		&.index {
			float: none;
		}
		li {
			display: block;
			margin-right: 0;
			padding-top: 15px;
		}
	}

	.content-area {
		max-width: 95%;
		p {
			font-size: 0.9em;
			line-height: 2.2em;
		}
		&.content-area-two {
			p {
				line-height: 3.5em;
			}
		}
	}
}